pandas
python-dotenv
langchain==0.3.27
langchain-core==0.3.75
langchain-community
langchain-experimental
langchain_deepseek
langchain_huggingface
sentence-transformers
faiss-cpu
tabulate
flask
openpyxl
geopy
pdfplumber
pypdf
